#Data Types

##Date Time

In [77]:
from datetime import timedelta

In [3]:
d = timedelta(microseconds=-1)

In [4]:
(d.days, d.seconds, d.microseconds)

(-1, 86399, 999999)

In [5]:
timedelta.min

datetime.timedelta(-999999999)

In [6]:
timedelta.max

datetime.timedelta(999999999, 86399, 999999)

In [7]:
timedelta.resolution

datetime.timedelta(0, 0, 1)

In [9]:
timedelta(hours=-5)

datetime.timedelta(-1, 68400)

In [10]:
print(_)

-1 day, 19:00:00

In [11]:
from datetime import timedelta
year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23, minutes=50, seconds=600)

In [12]:
year.total_seconds()

31536000.0

In [13]:
year == another_year

True

In [14]:
ten_years = 10 * year

In [15]:
ten_years, ten_years.days // 365

(datetime.timedelta(3650), 10)

In [16]:
nine_years = ten_years - year

In [17]:
nine_years, nine_years.days // 365

(datetime.timedelta(3285), 9)

In [18]:
three_years = nine_years // 3;

In [19]:
three_years, three_years.days // 365

(datetime.timedelta(1095), 3)

In [20]:
abs(three_years - ten_years) == 2 * three_years + year

True

##date objects

In [19]:
import datetime

###datetime.date(year, month, day)

In [9]:
datetime.date(1979,7,31)

datetime.date(1979, 7, 31)

###datetime.date.today()

In [10]:
datetime.date.today()

datetime.date(2015, 6, 7)

###datetime.date.fromtimestamp(timestamp)

In [15]:
import time

In [16]:
time.time()

1433707694.099592

In [17]:
ts = time.time()

In [18]:
datetime.date.fromtimestamp(ts)

datetime.date(2015, 6, 7)

###datetime.date.fromordinal(ordinal)

In [22]:
datetime.date.toordinal(datetime.date.today())

735756

In [23]:
datetime.date.fromordinal(735756)

datetime.date(2015, 6, 7)

###datetime.date.min

In [24]:
datetime.date.min

datetime.date(1, 1, 1)

In [25]:
x = datetime.date.min

In [27]:
datetime.date.toordinal(x)

1

In [29]:
datetime.date.timetuple(x)

time.struct_time(tm_year=1, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

###datetime.date.max

In [30]:
datetime.date.max

datetime.date(9999, 12, 31)

In [34]:
x = datetime.date.max

In [35]:
datetime.date.timetuple(x)

time.struct_time(tm_year=9999, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=365, tm_isdst=-1)

In [36]:
datetime.date.toordinal(x)

3652059

###datetime.date.resolution

In [37]:
datetime.date.resolution

datetime.timedelta(1)

**The smallest possible difference between non-equal date objects, timedelta(days=1)**

###datetime.date.year, datetime.date.month, datetime.date.day

In [51]:
datetime.date.year, datetime.date.month, datetime.date.day

(<attribute 'year' of 'datetime.date' objects>,
 <attribute 'month' of 'datetime.date' objects>,
 <attribute 'day' of 'datetime.date' objects>)

In [54]:
x = datetime.date.max

In [55]:
x.year

9999

In [56]:
x.month

12

In [57]:
x.day

31

4

###datetime.date.weekday(date)

In [88]:
datetime.date.weekday(datetime.date.today())

6

In [89]:
x = datetime.date.max

In [90]:
x.weekday()

4

##Operations

In [102]:
datetime.timedelta

datetime.timedelta(1)

In [103]:
date1 = datetime.date.today()

In [104]:
date2 = date1 + datetime.timedelta

In [105]:
date2

datetime.date(2015, 6, 8)

In [106]:
date1

datetime.date(2015, 6, 7)

In [108]:
date2  = date1 - datetime.timedelta

In [109]:
date2

datetime.date(2015, 6, 6)

In [110]:
datetime.timedelta = date1 - date2

In [111]:
date1 < date2

False

In [112]:
timedelta.seconds

0

In [113]:
timedelta.microseconds

0

###datetime.date.replace(year, month, day)

In [114]:
x = datetime.date(1999, 12, 31)

In [115]:
x.replace(year=2000, month=1, day=1)

datetime.date(2000, 1, 1)

###datetime.date.timetuple(date)

In [144]:
time_dict = {'time_tuple1': datetime.date.timetuple(datetime.date.min),}

In [145]:
time_dict

{'time_tuple1': time.struct_time(tm_year=1, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)}

In [146]:
time_dict['time_tuple1']

time.struct_time(tm_year=1, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [147]:
print('year: ' + str(time_dict['time_tuple1'][0]) + ' hour: ' +  str(time_dict['time_tuple1'][3]))

year: 1 hour: 0

In [148]:
ex_time_dict = {datetime.date.timetuple(datetime.date.min)}

In [149]:
ex_time_dict

{time.struct_time(tm_year=1, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)}

In [152]:
ex_time_dict.intersection(time_dict)

set()

###date.isoweekday(date)

In [154]:
datetime.date.isoweekday(datetime.date.today())

7

In [155]:
datetime.date.weekday(datetime.date.today())

6

###datetime.date.isocalendar(date)

In [156]:
datetime.date.isocalendar(datetime.date.today())

(2015, 23, 7)

In [158]:
datetime.date.ctime(datetime.date.today())

'Sun Jun  7 00:00:00 2015'

###datetime.date.isoformat(date)

In [159]:
datetime.date.isoformat(datetime.date.today())

'2015-06-07'

###date.\_\_str\_\_()

In [161]:
today = datetime.date.today()

In [162]:
today.__str__()

'2015-06-07'

###datetime.date.ctime()

In [163]:
today = datetime.date.today()

In [165]:
today.ctime()

'Sun Jun  7 00:00:00 2015'

###datetime.date.strftime(format)

In [166]:
today.strftime('%A %B %Y %H:%M:%S.%f %p day:%j week:%W')

'Sunday June 2015 00:00:00.000000 AM day:158 week:22'

In [167]:
today.strftime('%c')

'Sun Jun  7 00:00:00 2015'

In [168]:
today.strftime('%x')

'06/07/15'

In [169]:
today.strftime('%X')

'00:00:00'

###datetime.date.\_\_format\_\_(format)

In [170]:
today.__format__('%c')

'Sun Jun  7 00:00:00 2015'

In [171]:
today.__format__('%x')

'06/07/15'

####examples

In [172]:
import time
from datetime import date
today = date.today()
today

datetime.date(2015, 6, 7)

In [173]:
today == date.fromtimestamp(time.time())

True

In [174]:
my_birthday = date(today.year, 6, 24)
if my_birthday < today:
    my_birthday = my_birthday.replace(year=today.year + 1)
my_birthday

datetime.date(2015, 6, 24)

In [175]:
time_to_birthday = abs(my_birthday - today)
time_to_birthday.days

17

In [176]:
time_to_birthday.seconds

0

In [178]:
time_to_birthday.total_seconds()

1468800.0

####example 2

In [179]:
from datetime import date
d = date.fromordinal(730920) # 730920th day after 1. 1. 0001
d

datetime.date(2002, 3, 11)

In [180]:
t = d.timetuple()
for i in t:     
    print i

2002
3
11
0
0
0
0
70
-1

In [181]:
ic = d.isocalendar()
for i in ic:    
    print i

2002
11
1

In [182]:
d.isoformat()

'2002-03-11'

In [183]:
d.strftime("%d/%m/%y")

'11/03/02'

In [184]:
d.strftime("%A %d. %B %Y")

'Monday 11. March 2002'

In [185]:
'The {1} is {0:%d}, the {2} is {0:%B}.'.format(d, "day", "month")

'The day is 11, the month is March.'

In [186]:
print("Beware the Ides of March")

Beware the Ides of March

#Datetime Objects

In [14]:
import datetime, time

###datetime.datetime.today()

In [11]:
datetime.datetime.today()

datetime.datetime(2015, 6, 7, 22, 12, 18, 700250)

###datetime.datetime.now()

In [12]:
datetime.datetime.now()

datetime.datetime(2015, 6, 7, 22, 12, 19, 891859)

###datetime.datetime.utcnow()

In [13]:
datetime.datetime.utcnow()

datetime.datetime(2015, 6, 8, 3, 12, 48, 979544)

###datetime.datetime.fromtimestamp(timestamp)

In [18]:
datetime.datetime.fromtimestamp(time.time(),)

datetime.datetime(2015, 6, 7, 22, 16, 0, 158900)

** More Here...  If they ever ask me to do the whole lib there is more stuff that can be filled in here. **

#Calendar

In [21]:
import calendar

In [26]:
schedule = calendar.Calendar(0)

In [27]:
schedule.firstweekday

0

###calendar.Calendar.iterweekdays()

In [30]:
day_popper = schedule.iterweekdays()

In [31]:
day_popper.next()

0

In [32]:
day_popper.next()

1

In [33]:
day_popper.next()

2

In [34]:
day_popper.gi_code?

In [35]:
day_popper.gi_frame?

In [36]:
day_popper.gi_running?

###calendar.Calendar.itermonthdates(year, month)

In [44]:
dates = schedule.itermonthdates(1979, 7)

In [45]:
date_list = []
for item in dates:
    date_list.append(item)

In [47]:
date_list[0]

datetime.date(1979, 6, 25)

In [48]:
len(date_list)

42

###calendar.Calendar.itermonthdays(year, month)

In [57]:
dates_days = schedule.itermonthdays(1979,7)

In [58]:
dates_days_list = []
for item in dates_days:
    dates_days_list.append(item)

In [59]:
for entry in dates_days_list:
    if entry != 0:
        print(entry),

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

###calendar.Calendar.itermonthdays2(year, month)

In [60]:
dates_days2 = schedule.itermonthdays2(1979,7)

In [61]:
dates_days_list2 = []
for item in dates_days2:
    dates_days_list2.append(item)

In [62]:
for entry in dates_days_list2:
    if entry != 0:
        print(entry),

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4) (0, 5) (1, 6) (2, 0) (3, 1) (4, 2) (5, 3) (6, 4) (7, 5) (8, 6) (9, 0) (10, 1) (11, 2) (12, 3) (13, 4) (14, 5) (15, 6) (16, 0) (17, 1) (18, 2) (19, 3) (20, 4) (21, 5) (22, 6) (23, 0) (24, 1) (25, 2) (26, 3) (27, 4) (28, 5) (29, 6) (30, 0) (31, 1) (0, 2) (0, 3) (0, 4) (0, 5) (0, 6)

In [63]:
dates_days_list2[6]

(1, 6)

In [64]:
dates_days_list2[6][1]

6

###calendar.Calendar.monthdatescalendar(year, month)

In [69]:
week_groups = schedule.monthdatescalendar(1979, 7)

In [70]:
week_groups[1]

[datetime.date(1979, 7, 2),
 datetime.date(1979, 7, 3),
 datetime.date(1979, 7, 4),
 datetime.date(1979, 7, 5),
 datetime.date(1979, 7, 6),
 datetime.date(1979, 7, 7),
 datetime.date(1979, 7, 8)]

###calendar.Calendar.monthdays2calendar(year, month)

In [73]:
week_groups = schedule.monthdays2calendar(1979,7)

In [74]:
week_groups[1]

[(2, 0), (3, 1), (4, 2), (5, 3), (6, 4), (7, 5), (8, 6)]

###calendar.Calendar.monthdayscalendar(year,month)

In [79]:
week_groups = schedule.monthdayscalendar(1979,7)

In [80]:
week_groups[1]

[2, 3, 4, 5, 6, 7, 8]

###calendar.Calendar.yeardatescalendar(year)

In [84]:
prince_weeks = schedule.yeardatescalendar(1999)

In [91]:
prince_weeks[0][0][0]

[datetime.date(1998, 12, 28),
 datetime.date(1998, 12, 29),
 datetime.date(1998, 12, 30),
 datetime.date(1998, 12, 31),
 datetime.date(1999, 1, 1),
 datetime.date(1999, 1, 2),
 datetime.date(1999, 1, 3)]

###calendar.Calendar.yeardays2calendar(year)

In [92]:
prince_weeks = schedule.yeardays2calendar(1999)

In [93]:
prince_weeks[0][0][0]

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 4), (2, 5), (3, 6)]

###calendar.Calendar.yeardayscalendar(year)

In [94]:
prince_weeks = schedule.yeardayscalendar(1999)

In [95]:
prince_weeks[0][0][0]

[0, 0, 0, 0, 1, 2, 3]

##calendar.TextCalendar()

In [96]:
text_schedule = calendar.TextCalendar()

In [97]:
text_schedule.firstweekday

0

###calendar.TextCalendar.formatmonth

In [99]:
import pprint

In [100]:
pprint.pprint(text_schedule.formatmonth(1999,12))

'   December 1999\nMo Tu We Th Fr Sa Su\n       1  2  3  4  5\n 6  7  8  9 10 11 12\n13 14 15 16 17 18 19\n20 21 22 23 24 25 26\n27 28 29 30 31\n'

In [103]:
print(text_schedule.formatmonth(1999,12))

   December 1999
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

###calendar.prmonth(year month)

In [104]:
calendar.prmonth(1999,12)

   December 1999
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

###calendar.TextCalendar.formatyear(year)

In [106]:
print(text_schedule.formatyear(2011))

                                  2011

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

###calendar.TextCalendar.pryear(year)

In [107]:
text_schedule.pryear(2015)

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [108]:
text_schedule.pryear(1969)

                                  1969

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

##calendar.HTMLCalendar()

In [109]:
web_schedule = calendar.HTMLCalendar()

###calendar.HTMLCalendar.formatmonth(year, month)

In [112]:
from IPython.display import HTML

In [113]:
HTML(web_schedule.formatmonth(2015, 6))

###calendar.HTMLCalendar.formatyear(year)

In [114]:
HTML(web_schedule.formatyear(2015))

##calendar.HTMLCalendar.formatyearpage(year, width, css)

In [123]:
HTML(web_schedule.formatyearpage(2015, 4))

In [1]:
import calendar

In [2]:
import locale

In [26]:
from IPython.display import HTML

##calendar.LocaleTextCalendar(firstday, locale)

In [3]:
locale.getlocale()

(None, None)

In [4]:
locale.getdefaultlocale()

('en_US', 'UTF-8')

In [11]:
locale_calendar = calendar.LocaleTextCalendar(0,'en_US')

In [12]:
locale_calendar.prmonth(2015, 6)

     June 2015
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [19]:
LANGUAGES = {
    'bg_BG': 'Bulgarian',
    'cs_CZ': 'Czech',
    'da_DK': 'Danish',
    'de_DE': 'German',
    'el_GR': 'Greek',
    'en_US': 'English',
    'es_ES': 'Spanish',
    'et_EE': 'Estonian',
    'fi_FI': 'Finnish',
    'fr_FR': 'French',
    'hr_HR': 'Croatian',
    'hu_HU': 'Hungarian',
    'it_IT': 'Italian',
    'lt_LT': 'Lithuanian',
    'lv_LV': 'Latvian',
    'nl_NL': 'Dutch',
    'no_NO': 'Norwegian',
    'pl_PL': 'Polish',
    'pt_PT': 'Portuguese',
    'ro_RO': 'Romanian',
    'ru_RU': 'Russian',
    'sk_SK': 'Slovak',
    'sl_SI': 'Slovenian',
    'sv_SE': 'Swedish',
    'tr_TR': 'Turkish',
    'zh_CN': 'Chinese',
}

In [25]:
for lang in LANGUAGES:
    try:
        print(lang)
        locale_calendar = calendar.LocaleTextCalendar(0, lang)
        locale_calendar.prmonth(2015, 6)
    except:
        print('unsopported: ' + lang )

ru_RU
      2015

 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
tr_TR
    Haziran 2015
Pt Sa  Pe Cu Ct Pa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
fr_FR
     juin 2015
Lu Ma Me Je Ve Sa Di
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
fi_FI
   Keskuu 2015
Ma Ti Ke To Pe La Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
pt_PT
     Junho 2015
Se Te Qu Qu Se S Do
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
it_IT
    Giugno 2015
Lu Ma Me Gi Ve Sa Do
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
et_EE
     juuni 2015
E  T  K  N  R  L  P
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
no_NO
     juni 2015
ma ti on to fr l s
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
nl_NL
     juni 2015
ma di wo do vr za zo
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
en_US
     June 2015
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
lv_LV
unsopported: lv_LV
el_GR
 2015

 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
ro_RO
     Iunie 2015
Lu Ma Mi Jo Vi S Du
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
hu_HU
    Jnius 2015
H Ke Sz Cs P Sz Va
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
lt_LT
   birelio 2015
Pr An Tr Kt Pn  Sk
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
sl_SI
     junij 2015
po to sr  pe so ne
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
hr_HR
    Lipanj 2015
Po Ut Sr  Pe Su Ne
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
es_ES
     junio 2015
lu ma mi ju vi s do
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
bg_BG
     2015

 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
da_DK
     Juni 2015
Ma Ti On To Fr L S
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
cs_CZ
    ervna 2015
po  st  p so ne
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
sk_SK
     jn 2015
po ut st  pi so ne
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
de_DE
     Juni 2015
Mo Di Mi Do Fr Sa So
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
zh_CN
unsopported: zh_CN
sv_SE
     Juni 2015
M Ti On To Fr L S
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
pl_PL
    czerwca 2015
po wt  cz pt so nd
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

##calendar.LocaleHTMLCalendar(firstday, locale)

In [27]:
locale_html_Calendar = calendar.LocaleHTMLCalendar(1, 'en_US')

In [30]:
HTML(locale_html_Calendar.formatmonth(2015,6))

In [33]:
pages = []
for lang in LANGUAGES:
    try:
        print(lang)
        locale_calendar = calendar.LocaleHTMLCalendar(0, lang)
        pages.append(locale_calendar.formatmonth(2015, 6))
    except:
        print('unsopported: ' + lang )

ru_RU
tr_TR
fr_FR
fi_FI
pt_PT
it_IT
et_EE
no_NO
nl_NL
en_US
lv_LV
unsopported: lv_LV
el_GR
ro_RO
hu_HU
lt_LT
sl_SI
hr_HR
es_ES
bg_BG
da_DK
cs_CZ
sk_SK
de_DE
zh_CN
unsopported: zh_CN
sv_SE
pl_PL

In [41]:
HTML(pages[15])

###calendar.setfirstweekday(weekday)

In [42]:
locale_html_Calendar.setfirstweekday(calendar.WEDNESDAY)

In [43]:
HTML(locale_html_Calendar.formatmonth(2015, 6))

###calendar.firstweekday

In [45]:
locale_html_Calendar.firstweekday

2

###calendar.isleap(year)

In [50]:
calendar.isleap(2016)

True

###calendar.leapdays(y1, y2)

In [51]:
calendar.leapdays(1900,2016)

28

###calendar.weekday(year, month, day)

In [52]:
calendar.weekday(1979,7,31)

1

###calendar.weekheader(n)

In [56]:
calendar.weekheader(7)

'  Mon     Tue     Wed     Thu     Fri     Sat     Sun  '

In [57]:
calendar.weekheader(3)

'Mon Tue Wed Thu Fri Sat Sun'

In [58]:
calendar.weekheader(1)

'M T W T F S S'

###calendar.monthrange(year, month)

In [59]:
calendar.monthrange(2015,6)

(0, 30)

###calendar.monthcalendar(year, month)

In [60]:
calendar.monthcalendar(2015, 6)

[[1, 2, 3, 4, 5, 6, 7],
 [8, 9, 10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19, 20, 21],
 [22, 23, 24, 25, 26, 27, 28],
 [29, 30, 0, 0, 0, 0, 0]]

###calendar.prmonth(year, month)

In [62]:
calendar.prmonth(1999, 12)

   December 1999
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

###calendar.month(year, month)

In [64]:
print(calendar.month(1999, 12))

   December 1999
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

###calendar.prcal()

In [65]:
calendar.prcal(1999)

                                  1999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

###calendar.calendar(year)

In [68]:
print(calendar.calendar(1999))

                                  1999

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

###calendar.timegm(tuple)

In [69]:
import time

In [72]:
to_stamp = time.gmtime()

In [73]:
to_stamp

time.struct_time(tm_year=2015, tm_mon=6, tm_mday=9, tm_hour=4, tm_min=27, tm_sec=10, tm_wday=1, tm_yday=160, tm_isdst=0)

In [74]:
calendar.timegm(to_stamp)

1433824030

###calendar.day_name

In [77]:
days = calendar.day_name

In [79]:
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [80]:
days[6]

'Sunday'

###calendar.day_abbr

In [81]:
days = calendar.day_abbr

In [83]:
for day in days:
    print(day)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [86]:
days[0] # no way to fix that

'Mon'

###calendar.month_name

In [89]:
months = calendar.month_name

In [90]:
for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

In [91]:
months[7]

'July'

###calendar.month_abbr

In [92]:
months = calendar.month_abbr

In [93]:
for month in months:
    print(month)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [94]:
months[6]

'Jun'